body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.menu {
  display: flex;
  margin-top: 50px;

  &__item {
    text-transform: uppercase;
    margin-right: 50px;
    font-weight: 700;
    font-family: "Barlow Condensed", sans-serif;
    z-index: 2;

    &.logo {
      margin-right: auto;
    }
  }
}

.btn,
h1 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}

main {
  display: flex;

  .img {
    position: relative;
    left: 255px;
    z-index: 2;
  }
}
.shape {
    min-width: 900px;
    height: 30vh;
    background: #eef3f6;
    border-radius: 0 0 0 40px;
    position: absolute;
    top: 0;
    left: 40%;
    z-index: 1;
  }
 